<div>
  <div>
    <%= @actors.each do |actor|%>
      <div>
        <%= image_tag actor.image%>
        <h3> <%= actor.first_name %> <%= actor.last_name%> </h3>
        <p> <%= actor.bio %> </p>
        <%= link_to "Learn more", actor_path(actor) %>
      </div>
  <% end %>
</div>
