<div>
  <div>

    <!-- Display an actor's info here -->
    <div>
      <%= image_tag @actor.image %>
      <div>
        <h3> <%= @actor.first_name %> <%= @actor.last_name %>  </h3>
        <p> <%= @actor.bio %>  </p>
      </div>
    </div>

    <h2>Movies</h2>
    <!-- Display each movie's info here -->
    <%= @movies.each do |m|%>
    <div>
      <%= image_tag m.image%>
      <h3> m.title  </h3>
      <p> m.release_year </p>
      <p> m.plot </p>
    </div>
    <% end %>
  </div>
</div>
